#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    macros {
        mac_lock: mac_lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LG(Q))>;
            label = "MAC_LOCK";
        };
    };

    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        label = "DEFAULT";

        NOR {
            label = "Normal";
            bindings = <
&kp Q  &kp W  &kp E  &kp R          &kp T        &kp Y            &kp U         &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &hrm LSHIFT F  &kp G        &kp H            &hrm RSHFT J  &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V          &kp B        &kp N            &kp M         &kp COMMA  &kp DOT  &kp SLASH
                     &lt 3 ESCAPE   &lt 2 SPACE  &lt 1 BACKSPACE  &lt 5 ENTER
            >;
        };

        SYM {
            label = "Symbols";
            bindings = <
&kp AT_SIGN        &kp AMPERSAND  &kp LEFT_BRACKET  &kp LESS_THAN         &kp CARET  &kp DOLLAR  &kp GREATER_THAN       &kp RIGHT_BRACKET  &trans         &kp HASH
&kp SINGLE_QUOTE   &kp EXCL       &kp LEFT_BRACE    &kp LEFT_PARENTHESIS  &kp PLUS   &kp MINUS   &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE    &kp EQUAL      &kp ASTERISK
&kp DOUBLE_QUOTES  &kp GRAVE      &kp TILDE         &trans                &trans     &trans      &kp UNDER              &kp PIPE           &kp BACKSLASH  &trans
                                                    &trans                &trans     &trans      &trans
            >;
        };

        NAV {
            bindings = <
&trans  &trans  &trans  &trans   &trans  &kp HOME       &kp LC(D)  &kp LC(U)     &kp END    &trans
&trans  &trans  &trans  &kp TAB  &trans  &kp LEFT       &kp DOWN   &kp UP_ARROW  &kp RIGHT  &trans
&trans  &trans  &trans  &trans   &trans  &trans         &trans     &trans        &trans     &trans
                        &trans   &trans  &kp LG(SPACE)  &none
            >;

            label = "Navigations";
        };

        NUM {
            bindings = <
&trans  &trans     &trans     &trans     &trans  &trans  &kp N7  &kp N8  &kp N9  &trans
&trans  &kp SLASH  &kp MINUS  &kp PLUS   &trans  &trans  &kp N4  &kp N5  &kp N6  &trans
&trans  &trans     &trans     &kp UNDER  &trans  &kp N0  &kp N1  &kp N2  &kp N3  &trans
                              &trans     &trans  &trans  &sl 4
            >;

            label = "Numbers";
        };

        FUN {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp F12  &kp F7  &kp F8  &kp F9  &trans
&trans  &trans  &trans  &trans  &trans  &kp F11  &kp F4  &kp F5  &kp F6  &trans
&trans  &trans  &trans  &trans  &trans  &kp F10  &kp F1  &kp F2  &kp F3  &trans
                        &trans  &trans  &trans   &trans
            >;

            label = "Functions";
        };

        EXT {
            bindings = <
&rgb_ug RGB_TOG  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                 &trans  &trans  &trans  &trans
            >;

            label = "Extras";
        };
    };
};
